*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/sonarlint
.DS_Store
/build
/captures
.externalNativeBuild
/sonarlint
*.tlog
.vscode
/.vscode/c_cpp_properties.json
